*{

}
body{
    background: url('/javascript/background.png') center/cover no-repeat;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: none;
    width: 100vw;
    height: 100vh;

}
button{
    cursor: pointer;
    border-radius: 25%;
    background-color: blanchedalmond;
}
header{
    margin: 10px;
    position: absolute;     /*버튼 중앙으로*/
}
.top{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
}
.land{

    width: 100%;
    height: 100%;
}
.pause_button{
    margin-right: 10px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}
.timer{
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: palevioletred;
    color: white;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.score_count{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 3px solid black;
    font-size: 30px;
    background-color: white;
    border-radius: 70%;
    width: 60px;
    height: 60px;
}
.bottom{
    display: flex;
    justify-content: center;

}

footer{
    text-align: center;
}
.pop{
    transform: translateY(-300%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 128px;
    border: none;
    background-color: rgba(0, 0, 0, 0.445);
   
}
.refresh_button{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: medium;
    border: solid black 4px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    margin: 20px;

    
}
.replay{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}