body{
    background-color:rgb(247, 247, 221);
    text-align: center;
}
div{
    text-align: center;
    margin-top: 5%;
    
}
img{
    
}
button{

    top: 5%;
    left: 50%;
}
button:hover{
    background-color: orange;
}