div{
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    background-color: chocolate;
}

.container{
    left: 100px;
    /* 왼쪽에서 오른쪽으로 이동*/
    top: 100px; 
    /* 위에서 아래로 이동*/
    background: beige;
    position: relative;
}
.box1{
    background: pink;
    left: 100px;
    top: 100px;
    position: fixed;
    /* absolute는 container자리에서 100이동,
     relative는 본 위치에서 100이동
     fixed는 body태그 기준에서 100 이동
     */
}
.box2{
    background: blue;
    left: 100px;
    top: 100px;
    position: absolute;
}
.box3{
    background: green;
    left: 100px;
    top: 100px;
    position: relative;
}