* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #2E1A47;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  outline: none;
  overflow: hidden;
}

ul {
  list-style: none;
}

li {
  color: white;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black; */
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 1px 1000px 1px  #2E1A47 inset;
}

img {
  width: 100%;
  height: 100%;


.aside {
  width: 35%;
  height: 32%;
  padding: 1em 0 0 1em;
  visibility: hidden;
}

.aside_menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.aside_menu li {
  width: 30%;
  height: 45%;
}
.wifi_menu{
  width: 30%;
  height: 45%;
}
.button{
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
.circle{
  background-color: salmon;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}
.wifi{
  height: 20px;
  width: 20px;
  border: 10px solid transparent;
  border-top: 10px solid salmon;
  border-radius: 50%;
  position: absolute;
  top: 10%;
}

.aside_menu .aside2 {
  width: 63%;
}

.bside {
  width: 35%;
  height: 30%;
  padding: 0 0 0 1em;
  visibility: hidden;
}

.bside .bside_menu {
  width: 98%;
  height: 100%;
}

.bside_menu .bside1 {
  width: 100%;
  height: 100%;
  background: rgb(56, 48, 48);
  background: linear-gradient(
    52deg,
    rgba(56, 48, 48, 1) 0%,
    rgba(187, 99, 230, 1) 17%,
    rgba(242, 58, 28, 1) 32%,
    rgba(247, 135, 32, 1) 52%,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 1) 70%,
    rgba(34, 76, 242, 1) 97%
  );
}

.cside {
  width: 35%;
  height: 32%;
  padding: 0.5em 0.5em 1em 1em;
  visibility: hidden;
}

.cside_menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cside_menu li {
  width: 47%;
  height: 40%;
}

.cside_menu .cside3 {
  width: 60%;
  height: 50%;
}

.cside_menu .cside4 {
  width: 34%;
  height: 50%;
}

.head {
  width: 30%;
  height: 20%;
  padding: 1em 0 0 2em;
  visibility: hidden;
}

.head .head_menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.head_menu li {
  width: 45%;
  height: 100%;
}

.center {
  width: 30%;
  height: 40%;
  padding: 1em 0 0 2.3em;
  visibility: hidden;
}

.center_menu {
  width: 100%;
  height: 100%;
}

.center_menu li {
  width: 96%;
  height: 100%;
}

.footer {
  width: 30%;
  height: 30%;
  padding: 1em 0 0 2em;
  visibility: hidden;
}

.footer_menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer_menu li {
  width: 46%;
  height: 100%;
}

.dside {
  width: 32%;
  height: 35%;
  padding: 1em 0 0 0;
  visibility: hidden;
}

.dside_menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dside_menu .dside1,
.dside_menu .dside3 {
  width: 60%;
  height: 47%;
}

.dside_menu .dside2,
.dside_menu .dside4 {
  width: 34%;
  height: 47%;
}

.eside {
  width: 32%;
  height: 58%;
  visibility: hidden;
}
.eside_menu{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.eside_menu li{
  width: 97%;
  height: 100%;
}